.App {
  text-align: center;
  background-color:darkgrey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header{
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.19) 0%, rgba(255, 255, 255, 0) 100%);
  margin: 0%;
  padding-left: 15%;
  padding-right: 15%;
  border-bottom: solid 1px #CBCACA;
}
.Name {
  padding: 1%;
  margin: 0%;
  text-align: center;
  font-size: 36px;
  color: red;
  font-family:'Courier New', Courier, monospace;
  border-bottom: solid 1px #CBCACA;
}
/*메뉴*/
.Nav_bar {
  margin: 3%;
  list-style-type: none;
  text-align: center;
  padding-left: 0%;
}
.Nav {
  position: relative;
  display: inline-block;
  border-left: solid 1px #CBCACA;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav ul li:first-child{
  border-left: none;
}
.Sub_bar {
  padding-left: 0;
  list-style-type: none;
  line-height: 20px;
  display: none;
  text-align: center;
}
.Sub{
  background-color: aqua;
  width: 100px;
}

.Main{
  padding-left: 15%;
  padding-right: 15%;
}
/*영화카드*/
.card_view{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_list{
  display: flex;
  list-style-type: none;
  text-align: center;

}
.card_list li{
  
}
.card_list li img{
  width: 153px;
  height: 226px;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/*오버*/
.Nav:hover {
  background: gray;
}
.Nav:hover ul {
  display: block;
  position:absolute;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
