.App {
  text-align: center;
  background-color:darkgrey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Name {
  text-align: center;
}

.Nav_bar {
  list-style-type: none;
  text-align: center;
  padding-left: 0%;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
}
.Nav {
  position: relative;
  display: inline-block;
  border-left: solid 1px #575d5f;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Sub_bar {
  padding-left: 0;
  list-style-type: none;
  line-height: 20px;
  display: none;
  text-align: center;
 
}
.Sub{
  background-color: aqua;
  width: 100px;
}
.Nav:hover {
  background: gray;
}
.Nav:hover ul {
  display: block;
  position:absolute;
}

nav ul li:first-child{
  border-left: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
