
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header{
  position : relative;
  background : linear-gradient(180deg, rgba(0, 0, 0, 0.19) 0%, rgba(255, 255, 255, 0) 100%);
  margin : 0%;
  padding-left : 15%;
  padding-right : 15%;
  border-bottom : solid 1px #CBCACA;
}
.Name {
  padding : 1%;
  margin : 0%;
  text-align : center;
  font-size : 36px;
  color : red;
  font-family :'Courier New', Courier, monospace;
  border-bottom : solid 1px #CBCACA;
}
/*메뉴*/
.Nav_bar {
  margin : 1%;
  list-style-type : none;
  text-align : center;
  padding-left : 0%;
}
.Nav {
  position : relative;
  display : inline-block;
  border-left : solid 1px #CBCACA;
  width : 100px;
  padding-top : 10px;
  padding-bottom : 10px;

}
nav ul li:first-child{
  border-left : none;
}
.Sub_bar {
  margin-top : 10px;
  padding-left : 0;
  list-style-type : none;
  line-height : 20px;
  display : none;
  text-align : center;
  z-index : 1;
}
.Sub{
  width : 100px;
  height : 20px;
  padding-top : 10px;
  padding-bottom : 10px;
}
.Main{
  padding-left : 15%;
  padding-right : 15%;
}
/*영화카드*/
.card_view{
  background-color : black;
  color : white;
  display : flex;
  justify-content : space-evenly;
  align-items : center;
}
.card_list{
  display : flex;
  list-style-type : none;
  text-align : center;
  padding : 0%;
}
.card_list li{
  padding-left : 10px;
  padding-right : 10px;
}
/*영화 카드 리스트*/
.movie{
  width : 153px;
  height : 226px;
  display : flex;
  justify-content : center;
  align-items : center;
}
.movie img{
  position : relative;
  width : 153px;
  height : 226px;
  
}
.movie ul{
  position : absolute;
  padding : 0%;
  list-style-type : none;
  justify-content : center;
  align-items : center;
}

/*영화관*/
.Theater{
  width : 1000px;
  height : auto;
  position : relative;
  display :flex;
  flex-wrap : wrap;
  align-items : flex-start;
  justify-content : flex-start;
  margin : 0 auto;
  top : 20px;
}

.Show{
  position : relative;
  width : 1000px;
  height : 378px;
  left : 0px;
  top : 45px;
  display : flex;
  flex-direction : row;
  flex-wrap : wrap;
  align-items : center;
  justify-content : space-evenly;
  table-layout : auto;
  margin : 0 auto;
}

.Show img{
  width : 188px;
  height : 184px;
}

.App-header {
  background-color : #282c34;
  min-height : 100vh;
  display : flex;
  flex-direction : column;
  align-items : center;
  justify-content : center;
  font-size : calc(10px + 2vmin);
  color : white;
}



/*hover*/
.Nav:hover {
  padding-bottom : 8px;
  border-bottom : solid 2px red;
}
.Nav:hover ul {
  background-color : white;
  display : block;
  position : absolute;
}

.App-link {
  color : #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform : rotate(0deg);
  }
  to {
    transform : rotate(360deg);
  }
}
